.form {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  align-items: stretch;
}

.input {
  border: 0;
  border-bottom: 1px solid var(--color-white);
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0 0 1rem 0;
  margin: 1rem 0;
  vertical-align: middle;
}

.button {
  padding: 1rem 2rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--color-black);
  cursor: pointer;
}
