@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";

:root {
  --color-bg: #222;
  --color-text: #fff;
  --color-white: #fff;
  --color-black: #222;
  --color-gray: #666;
  --max-width: 960px;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
}

p {
  text-align: justify;
}
